body, h1, header, main, footer {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Ubuntu Mono", monospace;
  color: white;
  background-color: rgb(3, 137, 128);
  margin: 1em;
}
a {
  text-decoration: none;
  color: white;
}
header, main, footer {
  width: 800px;
  margin: auto;
  text-align: center;
}
#footer_text {
  font-size: 1.5em;
}
h1 {
  font-size: 5rem;
}
li {
  color: black;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
#problem .expression {
  font-size: 48px;
  border: 1px solid #eeeeee;
  padding: 10px;
  margin: 0 40px;
}

#answers ul {
  margin: 0;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: space-around;
}
#answers li {
  margin: 0 20px;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #eeeeee;
}
footer {
  margin-top: 50px;
  font-size: 12px;
}
button {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #ABD587;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 20px;
}
.hidden {
  display:none;
}

@media screen and (max-width: 600px) {
  body, header, footer {
    width: 90%;
    margin: auto;
  }

  main {
    width: 100%;
    margin: auto;
  }

  #answers ul {
    display: block;
  }

  #answers li {
    width: 50%;
    margin: 0.5em auto;
  }
}

body, h1, header, main, footer {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Ubuntu Mono", monospace;
  color: white;
  background-color: rgb(3, 137, 128);
  margin: 1em;
}
a {
  text-decoration: none;
  color: white;
}
header, main, footer {
  width: 800px;
  margin: auto;
  text-align: center;
}
#footer_text {
  font-size: 1.5em;
}
h1 {
  font-size: 5rem;
}
li {
  color: black;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
#problem .expression {
  font-size: 48px;
  border: 1px solid #eeeeee;
  padding: 10px;
  margin: 0 40px;
}

#answers ul {
  margin: 0;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: space-around;
}
#answers li {
  margin: 0 20px;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #eeeeee;
}
footer {
  margin-top: 50px;
  font-size: 12px;
}
button {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #ABD587;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 20px;
}
.hidden {
  display:none;
}

@media screen and (max-width: 600px) {
  body, header, footer {
    width: 90%;
    margin: auto;
  }

  main {
    width: 100%;
    margin: auto;
  }

  #answers ul {
    display: block;
  }

  #answers li {
    width: 50%;
    margin: 0.5em auto;
  }
}
